$font-stack: "PlexSans",
             -apple-system,
             BlinkMacSystemFont,
             "Segoe UI",
             Roboto,
             Helvetica,
             Arial,
             sans-serif,
             "Apple Color Emoji",
             "Segoe UI Emoji",
             "Segoe UI Symbol";

$heading-font-stack: "BasierSquare", "SF Compact Display", $font-stack;

$break-small: "only screen and (max-width: 768px)";

$large-width: 1200px;
$small-width: 680px;

$padding: 2.4rem;

$background-color: #EFEFEF;
$foreground-color: #222;
$selection-color: #FFFACE;

$border-radius: 6px;

@mixin shadow {
  // box-shadow: 0 1rem 3rem -1rem #2a273466,
  //             0 1.2rem 2rem -0.6rem #2a273444;
}

html {
  background: $background-color;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;

  @media #{$break-small} {
    font-size: 50%;
  }
}

body {
  color: $foreground-color;
  font-size: 2.2rem;
  font-family: $font-stack;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  padding: $padding;
  margin: 0 auto 4.8rem auto;
  max-width: $small-width;

  @media #{$break-small} {
    margin: 0;
    svg {
      width: 145px;
      height: 40px;
    }
  }
}

section article {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: $padding;
  margin-bottom: 14rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
}

h2 {
  font-size: 4.4rem;
  line-height: 1.1;
  margin: 0.2rem 0 0.6rem 0;
}

a {
  color: $foreground-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 1.4rem 0 1.4rem 0;
}

::selection {
  background: $selection-color;
}

@mixin bust-out($width: $large-width) {
  left: 50%;
  margin-left: calc(-#{$width} / 2);
  margin-right: calc(-#{$width} / 2);
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: $width;

  @media only screen and (max-width: $width) {
    margin-left: calc(-100vw / 2 + #{$padding});
    margin-right: calc(-100vw / 2 + #{$padding});
    width: calc(100vw - #{$padding} * 2);
  }

  @media #{$break-small} {
    margin-left: calc(-100vw / 2);
    margin-right: calc(-100vw / 2);
    width: 100vw;
    border-radius: 0;
  }
}

div, article {
  max-width: $small-width;

  img {
    border-radius: $border-radius;
    @include bust-out;
    @include shadow;
  }

  pre {
    @include bust-out;
    display: flex;
    justify-content: center;

    code {
      background: #2a2734;
      color: #f1ebff;
      font-family: 'Iosevka', Monaco, monospace;
      font-size: 1.8rem;
      border-radius: $border-radius;
      padding: 2.4rem 3.6rem;
      overflow: scroll;
      @include shadow;

      @media #{$break-small} {
        width: 100%;
        padding: $padding;
        border-radius: 0;
      }
    }
  }

  span.kicker {
    color: #5964E4;
    margin-left: 0.4rem;
  }

  span.post-date {
    opacity: 0.5;
    margin-bottom: 5.5rem;
    margin-left: 0.4rem;
  }
}
