$font-stack: -apple-system,
             BlinkMacSystemFont,
             "Segoe UI",
             Roboto,
             Helvetica,
             Arial,
             sans-serif,
             "Apple Color Emoji",
             "Segoe UI Emoji",
             "Segoe UI Symbol";

$heading-font-stack: "SF Compact Display", $font-stack;

$break-small: "only screen and (max-width: 768px)";

$large-width: 140rem;
$small-width: 68rem;

html {
  background: #EFEFEF;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;

  @media #{$break-small} {
    font-size: 50%;
  }
}

body {
  color: #222;
  font-size: 2rem;
  font-family: $font-stack;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > div {
  width: 100%;
  max-width: $large-width;
  overflow-x: hidden;
}

// body:after {
//   position: absolute;
//   width: auto;
//   height: auto;
//   z-index: 9999;
//   content: '';
//   display: block;
//   pointer-events: none;
//   top: 16px;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: url(http://basehold.it/i/28);
//   background-size: 4px 28px;
//   background-repeat: repeat;
// }

// body:active:after {
//   display: none;
// }

header {
  padding: 1rem;
  margin: 2.8rem auto 4.8rem auto;
  max-width: $small-width;

  @media #{$break-small} {
    margin: 0;
    svg {
      width: 145px;
      height: 40px;
    }
  }
}

section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
}

h2 {
  font-size: 4.4rem;
  line-height: 1.2727272727;
  margin: 2.8rem 0 1.4rem 0;
}

a {
  color: #222;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 1.4rem 0 1.4rem 0;
}

::selection {
  background: #FFFACE;
}

div, article {
  img {
    width: 100%;
    margin: 1.4rem auto;

    @media #{$break-small} {
      width: 100vw;
      margin-left: -1rem;
    }
  }

  p, h1, h2, h3, h4, h5, h6, ul, code {
    width: 100%;
    max-width: $small-width;

    @media #{$break-small} {
      max-width: 60rem;
    }
  }
}
