section.read-next {
  max-width: $small-width;
  margin: 0 auto;
  padding: 4rem 2rem 0;
  background: $read-next-background;
  border-radius: $border-radius;

  @include mobile {
    border-radius: 0;
  }

  > article {
    margin-top: 1rem;
  }

  > h3 {
    color: $accent-color;
    display: block;
    user-select: none;
    text-align: center;
    margin: 0 auto;
  }

  pre {
    margin: 0 auto;
  }
}
