footer {
  background: #ddd;
  padding: 4rem 0;
  @include bust-out(100vw, 0);

  ul {
    text-align: center;
    font-size: 1.6rem;
    @media #{$break-small} {
      font-size: 1.8rem;
    }
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    line-height: 4em;
    padding: 0;

    &:not(:last-child):not(:first-child):after {
      content: '•';
      color: #bbb;
      padding: 0 0.4em;

      @media #{$break-small} {
        padding: 0 0.1em;
      }
    }

    a {
      text-decoration: none;
      padding: 0.2em 0.4em;
      border-radius: 2px;

      &:hover {
        text-decoration: none;
        color: #efefef;
        background: #333;
      }

      &:active {
        color: #efefef;
        background: #333;
      }

      @media #{$break-small} {
        padding: 0.1em 0.3em;
      }
    }
  }

  span.emoji {
    user-select: none;
    font-size: 1.5em;
    padding: 0 0.4em;
    vertical-align: bottom;
  }
}
