$font-stack: "PlexSans",
             -apple-system,
             BlinkMacSystemFont,
             "Segoe UI",
             Roboto,
             Helvetica,
             Arial,
             sans-serif,
             "Apple Color Emoji",
             "Segoe UI Emoji",
             "Segoe UI Symbol";

$heading-font-stack: "BasierSquare", "SF Compact Display", $font-stack;

$mono-font-stack: "Iosevka", Monaco, monospace;

$large-width: 1200px;
$small-width: 700px;

$padding: 2.4rem;

$background-color: #EFEFEF;
$foreground-color: #222;
$selection-color: #FFFACE;
$accent-color: #5664EC;
$read-next-background: #e3e3e3;

$border-radius: 6px;

$break-tablet: 1200px;
$break-mobile: 600px;
$break-mobile-small: 320px;

@mixin desktop {
  @media screen and (min-width: $break-tablet) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $break-tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $break-mobile) {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: $break-mobile-small) {
    @content;
  }
}

@mixin link-transition {
  transition: color .2s cubic-bezier(0.1, 0.5, 0.8, 1.1),
              background-color .2s cubic-bezier(0.1, 0.5, 0.8, 1.1),
              transform 0.3s cubic-bezier(0.175, 0.9, 0.32, 1.6);
}

@mixin pop-animation {
  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
  }
}

@mixin shadow {
  // box-shadow: 0 1rem 3rem -1rem #2a273466,
  //             0 1.2rem 2rem -0.6rem #2a273444;
}

@mixin bust-out($width: $large-width, $padding: $padding) {
  left: 50%;
  margin-left: calc(-#{$width} / 2);
  margin-right: calc(-#{$width} / 2);
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: $width;

  @media only screen and (max-width: $width) {
    margin-left: calc(-100vw / 2 + #{$padding});
    margin-right: calc(-100vw / 2 + #{$padding});
    width: calc(100vw - #{$padding} * 2);
  }

  @include mobile {
    margin-left: calc(-100vw / 2);
    margin-right: calc(-100vw / 2);
    width: 100vw;
    border-radius: 0;
  }
}
